<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>雷子API</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet">
			<link href="../static/css/main.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					</button>
					<a class="navbar-brand" href="/home">API后台</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li name="model"><a href="/model">模块管理</a></li>
						<li name="users"><a href="/users">用户管理</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right hidden-sm">
						<li><a href="/index" type="button" class="btn btn-link">前台</a></li>
						{% if not session.logged_in %}
						<li><a href="/login" type="button" class="btn btn-link">登录</a></li>
						{% else %}
						<li><a href="/logout" type="button" class="btn btn-link">退出</a></li>
						{% endif %}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		<div>
			<div class="container">
				<div class="row row-offcanvas row-offcanvas-right">
					<div class="col-xs-12 col-sm-9">
						{% block hello %}{% endblock %}
					</div>
					<div>
						{% block page_content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>

         <hr>

      <div id="footer">
      <div class="container">
        <p class="muted credit"> @雷子API后台管理 BY  雷子 </p>
      </div>
    </div>
		<script src="../static/js/jquery-2.1.4.min.js"></script>
	</body>
</html>